@font-face {
    font-family: "Source Sans Pro";
    font-weight: normal;
    src: url("Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: bold;
    src: url("Source_Sans_Pro/SourceSansPro-Bold.ttf");
}
