@import "fonts";
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


/* TITLE */

h1.title, li.name h1 {
  font-family: $font-family-display;
  font-size: 30px !important;
  font-weight: 800;
  text-rendering: geometricPrecision;
  color: #FFFFFF;
}

li.name h1 span.home-name {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 30px;
	font-weight: 800;
}

#mobile-title a{
	color: #FFFFFF;
}


/* TOP-BAR FILL */

.top-bar-filler {
  background-color: $jet;
  content: "";
  height: $topbar-height;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}



/* SIDE-MENU */

#menu {
  background-color: $jet;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: $tabbar-height;
  left: -200px;
  width: 200px;
}

.menu-item {
  margin: 0;
  text-align: left;
  width: 100%;
}

.button-dark, .button-dark:visited {
  background-color: $jet;
}

.button-dark:hover, .button-dark:active {
  background-color: $oil;
}



/* DARKEN CONTENT FOR SIDE-MENU */

#content-darken {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}



/* SPACE FILLER AT BOTTOM OF CONTENT */

.space-filler {
  height: 54px;
  position: relative;
}



/* THE STING STREAM */

.stream {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.stream-button {
  margin-bottom: 0px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 28px;
}

.stream-button, .stream-button:visited {
  background-color: rgba($jet, 0.9);
}

.stream-button:hover, .stream-button:active {
  background-color: $jet;
}

#mobile-listen-live-panel {
	padding-top: 5px;
	padding-bottom: 8px !important;
}

#desktop-play-pause-outer .dashicons {
	vertical-align: middle;
}
#mobile-listen-live-panel .dashicons {
	font-size: 18pt;
	line-height: 18pt;
}
/* SOCIAL ICONS */
.sting-social-icons, #sting-desktop-social-icons, #sting-mobile-social-icons {
	line-height: 3.75rem;
	background-color: $jet;
	img {
		background-color: $jet;
	}
	img.sting-twitter {
		width: 2em;
		height: 2em;
	}
	img.sting-fb  {
		width: 1.5em;
		height: 1.5em;
	}
	a {
		display: inline;
		padding-left: 0px;
		padding-right: 0px;
	}
	a:hover {
		background-color: $jet !important;
	}
	:hover {
		background-color: $jet !important;
	}
}
.sting-social-icons-mobile {
	list-style-type: none;
	padding-right: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
}
.sting-social-buttons-post {
	iframe.twitter-share-button {
		vertical-align: bottom;
	}
	div.fb-share-button {
		vertical-align: bottom;
	}
}

/* MAIN CONTENT */

#content {
  position: relative;
}

/* HOMEPAGE GALLERY FORMATTING */
.home-banner .easingslider {
		margin: auto !important;
		position: absolute !important;
		top: 0px;
		width: 100%;
}

/* IMAGE BANNERS */

.home-banner {
  position: relative;
  height: 60vw;
  max-height: 420px;
  overflow: hidden;
  width: 100%;
}

.home-banner-small, .show-banner-small {
  background-color: $jet;
}

/*.show-banner-small p {
	padding-left: 60px;
}*/

.page-banner {
  position: relative;
  height: 20vw;
  max-height: 100px;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 40em){
	.page-banner {
		height: 40vw;
		max-height: 300px;
	}
}

.show-banner {
  position: relative;
  height: 60vw;
  max-height: 380px;
  overflow: hidden;
  width: 100%;
}
.show-banner h1 {
	text-transform: uppercase;
}
.show-banner p, .show-banner h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.home-banner, .home-banner-small, .page-banner, .show-banner, .show-banner-small {
  h1, p {
    color: $body-bg;
  }

  h1 {
    font-weight: bold;
  }

  p {
    font-size: 1.5 * $paragraph-font-size;
  }
}

.home-banner, .page-banner, .show-banner {
  img {
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .row {
    height: 100%;
    position: relative;
  }

  .columns {
    background-color: rgba($jet, 0.666);
    bottom: 0;
    position: absolute;
    /*width: 100%;*/
  }
  .columns:before  {
	background-color: rgba($jet, 0.666);
	content: "";
	height: 1000px;
	left: -1000px;
	position: absolute;
	top: 0;
	width: 1000px;
  }
  .columns:after  {
	background-color: rgba($jet, 0.666);
	content: "";
	height: 1000px;
	left: 100%;
	position: absolute;
	top: 0;
	width: 1000px;
  }
}

.sting-social-media-banner {
	  right: 0px;
  }
.sting-social-media-banner:before {
	background-color: rgba($jet, 0) !important;
}
.sting-social-media-banner:after {
	background-color: rgba($jet, 0) !important;
}
.home-banner, .show-banner .columns {
  text-align: left;
}



/* HOME PAGE IMAGE LINKS */

a.article-link {
  color: inherit;
  cursor: default;
}

a.article-link:hover {
  color: $anchor-font-color-hover;
}

.article-image-box {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.article-image-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.article-image-content img {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -200%;
}



.box {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.box:before {
  content: "";
  display: block;
  padding-top: 200%;
}

.box-content img {
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
}
.home figure, .archive :not(.post-type-archive) figure {
	width: 100% !important;
	margin: 0px;
}
.single figure, .single img {
	.alignnone {
		width: 100% !important;
	}
	box-shadow: 2px 2px 5px $jet;
}
.alignright {
		float:right;
}
.single figure {
	padding: 5px;
	width: auto !important;
}
article iframe {
	width: 100% !important;
}
.single-sting_shows .row .row {
	max-width: 100%;
}
@media only screen and (max-width: 40em) {
	.single-post .row {
		max-width: 100%;
	}
}
/* SCHEDULE */

.tabs-content > .content {
  padding: 0;
}

.tabs-content .post {
	line-height: 2em;
}
.tab-title {
	width: 14.285714%;
}

.tab-title a {
	text-align: center;
}

#schedule-container {
	border-left-width: 1pt;
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-radius: 3px;
	border-color: #CCCCCC;
	
	padding: 0px;
}

.accordion {
	font-size: 14pt;
	margin-left: 0px;
}
.show-title {
	font-weight: bold;
}
.accordion .show-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal;
}

/* MediaElement.js formatting */

.mejs-offscreen {
	display:none;
}
.mejs-container {
	display:none;
}

.show-description p{
	font-size: 18px;
	margin-bottom: 0px;
	padding: 5px;
}
/*
 * Now Playing bar
 * @media only screen and (max-width: 40em)
 */
 #nowPlaying {
	display: none;
 }
.now-playing ul li {
	color: #FFFFFF;
	background-color: $jet;
	line-height: 3.75rem;
	padding-left: 20px;
	padding-right: 20px;
}
/*
.now-playing ul li span {
	padding-left: 20px;
	padding-right: 20px;
}*/
#current-show-title{
	padding-left: 0px;
	padding-right: 0px;
}
.current-show-label {
	padding-right: 5px !important;
}
.now-playing-container span{
	padding-left: 20px;
}
/* Dropdown Chat */
#quick-chat-dropdown {
	top: 120px;
	right: 0px;
	position: fixed;
	width: 350px;
	background-color: rgba($jet, 0.9);
	display: none;
	padding-right: 5px;
	padding-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-bottom-left-radius: 5px;
	border-color: #222222;
	color: #FFFFFF;
	box-shadow: -3px 5px 20px #222222;
}
input.quick-chat-alias {
	height: 2em;
}
#chat-button {
	padding-right: 0px;
}

/*
 * Temporary Content Feed
 */
.wp-post-image {
	height: 200px;
}
.post h2 {
	font-size: 2rem;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 0px;
}
article.post {
	margin-bottom: 20px;
}
.next-previous .left {
	text-align: left;
}
.next-previous .right {
	text-align: right;
}
#post-content {
	width:100%;
}
.post-date {
	font-size: 0.55em;
	padding-top: 0.7em;
}
/* Make posts on show page look good */
.single-sting_shows .row .row {
	margin-left: 0px;
}
.single-sting_shows .show-banner .columns {
	padding-left: 0px;
}
/* Admin Message */
#sting-admin-message {
	color: #FFFFFF;
	background-color: $jet;
	line-height: 1.5rem;
	padding-right: 20px;
	font-size: 0.8rem;
	width: 75%;
}
/* Show Archive Page */
#grid {
	width: 100%;
}
.show-archive {
	.archive-block {
		margin: 9px 12px 12px;
		padding: 5px;
		box-shadow: 2px 2px 2px 0px #CCCCCC;/*#99D1E3;*/
		border-style: solid;
		border-width: 2px;
		border-color: #808080;/*#008CBA;*/
		text-align: center;
		.show-archive-header-img {
			height: 100px;
		}
		a {
			font-size: 14pt;
		}
	}
	.columns {
		padding-left: 0px;
		padding-right: 0px;
	}
	.show-archive-header-img {
		width: 100%;
	}
	#table table tr:nth-of-type(2n-1) {
		background-color: #F9F9F9;
	}
	table thead {
		background: #F5F5F5 none repeat scroll 0% 0%;
	}
	[class*="column"] + [class*="column"]:last-child {
		float: left;
	}
}
@media only screen and (max-width: 40em) {
		.show-archive .row {
			padding-left: 15px;
		}
	}